@use "../util" as *;

.lists_group {
	justify-items: center;
	align-items: start;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	gap: 2rem;
}
/* ---------------------------------- list ---------------------------------- */
.list {
	display: flex;
	flex-direction: column;

	color: var(--color-white);
	// margin-inline: auto;
	width: 290px;
	// max-width: 307px;
	border-radius: rem($br);
	overflow: hidden;
	box-shadow: var(--shadow-1);
	&__header {
		@include list_header();
		@include flex();
		border-bottom: 3px solid var(--color-white);
		.list__title {
			flex-grow: 1;
			font-size: inherit;
			font-weight: 700;
			padding: 0.2rem;
			text-transform: capitalize;
			&:focus {
				background-color: var(--color-white);
				outline: 3px solid var(--color-white);
				border-radius: 3px;
				outline-offset: 2px;
				color: var(--color-theme-800);
				&::selection {
					background-color: var(--color-theme-300);
					color: var(--color-white);
				}
			}
		}
	}

	&__footer {
		@include list_header(8, $fz: 18);
		@include flex();
		margin-top: auto;
		border-top: 1px solid var(--color-white);
		.add_task_btn {
			flex-grow: 0;
			color: var(--color-theme-800);
			font-size: 0.8em;
			font-weight: 700;
			background-color: var(--color-white);
			padding: 0.3rem 0.5rem;
			border-radius: calc(#{rem($br)} - 2px);
			&:hover {
				background-color: rgb(225, 225, 225);
			}
			&:focus-visible {
				outline: 3px solid var(--color-white);
				outline-offset: 2px;
			}
		}
		.remove_list_btn {
			display: flex;
			align-items: center;
			&:hover,
			&:focus {
				svg {
					fill: var(--color-theme-danger);
				}
			}
			&:focus-visible {
				outline: 3px solid var(--color-theme-danger);
				outline-offset: 2px;
				border-radius: 3px;
			}

			svg {
				fill: var(--color-white);
			}
		}
	}
}
