@use "../util" as *;

/* ---------------------------------- Tasks --------------------------------- */
.tasks {
	display: flex;
	flex-direction: column;
	gap: rem(10);
	padding: rem(20);
	background-color: var(--color-theme-200);
	&:empty {
		padding: rem(0);
		min-height: rem(40);
	}
	.task {
		@include flex();

		& > * {
			padding-block: rem(7);
		}
		background-color: var(--color-white);
		border-radius: rem($br);
		box-shadow: var(--shadow-2);
		.handle {
			padding-left: rem(12);
			padding-right: rem(6);
			color: var(--color-theme-800-05);
		}

		.task__content {
			flex-grow: 1;
			color: var(--color-theme-800);
			font-size: rem(16);
			font-weight: 700;
			text-transform: capitalize;
			padding: 0.2rem;
			&:focus {
				background-color: var(--color-theme-300);
				outline: 2px solid var(--color-theme-300);
				border-radius: 3px;
				outline-offset: 2px;
				color: var(--color-white);
				&::selection {
					background-color: var(--color-white);
					color: var(--color-theme-800);
				}
			}
		}
		.remove_task_btn {
			padding-inline: rem(12);
			display: flex;
			align-items: center;
			&:hover,
			&:focus {
				svg {
					fill: var(--color-theme-danger);
				}
			}
			&:focus-visible {
				outline: 3px solid var(--color-theme-danger);
				outline-offset: 2px;
				border-radius: 3px;
			}
			svg {
				fill: var(--color-theme-300);
			}
		}
	}
}
